@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

    html {
      height: 100%;
    }

  body {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    background-color: #F2F2F2;
    box-shadow: 0 0 10px 0 #333333;

}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

    .page-header {
      display:flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      background-color:#ffffff;
      }

      .page-header-logo {
      margin: 0 26px -6px 70px;
      }

.button {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 8px 50px 8px 50px;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    background: #756157;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.button-blue {
  background: #82B3D3;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
}

.button-reset {
  background: transparent;
}

.button-green {
background: #7DB54F;
}

.navigation {
  width: 1200px;
  display: flex;
}

.navigation-list {
  display: flex;
  width: 465px;
  margin: 0;
padding: 0;
list-style: none;
}

.navigation-user {
  display: flex;
  width: 320px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-link {
  text-align : center;
  color : inherit;
  text-decoration : none;
  list-style: none;
  }

  .navigation-user-link {
  text-align : center;
  color : inherit;
  text-decoration : none;
  }

.likes-number {
width: 20px;
height: 20px;
top: 11px;
left: 20px;
border-radius: 50%;
background-color: #7db54f;
padding: 5px 5px 5px 4px;
}

.welcome-image {
background-color: #B0C4DE;
color: #000000;
background-image: url("../images/white-frame-decoration.svg"), url("../images/index-background.jpg");
background-size: 100% auto, cover;
background-repeat: no-repeat;
background-position: left bottom, left top;
}

.greeting-image {
padding: 51px 371px 82px 371px;
}

.main-index {
text-align: center;
background-color: #ffffff;
flex-grow: 1;
}



.reason-title-main,
.services-title-main {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color:#000000;
  }

  .reason-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
  }

.reason-list h3 {
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;
text-transform: uppercase;
}

.reason-list p {
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;
}

.reason-item-dark {

  display: flex;

  color:#FFFFFF;
  background: #82B3D3;

  }

  .reason-item-light {

  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  }

  .reason-item-medium {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
  }

  .services-list {
    display: flex;
    list-style: none;

    margin:0;
    padding:0;
  }
  .services-list h3 {
        font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
  }

.services-list p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  }

.services-item-light {
    background: rgba(131, 179, 211, 0.12);
    width: 400px;
  height: 385px;
    }
.services-item {
  width: 400px;
  height: 385px;

}
.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe {
background-image: url("../images/blurry-mountain-view.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
}

.subscribe-catalog {
  text-align: center;
}

.subscribe-catalog h2{
  color: #000000;
  text-align: center;
}

.subscribe-catalog p {
  color: inherit;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscribe-description {
  color: #FFFFFF;
}

.input-email {
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;
}

.page-footer {
  background-color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: space-between;

}

.creator-logo-image{
  margin-right: 70px;
}

.phone-number {
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
color: #000000;
text-align: center;
}

<!--Стили для страницы Каталога-->

.catalog-page {
background-color: #FFFFFF;
flex-grow: 1;
}

.container-catalog {
  width: 1060px;
  margin: 0 auto;

}

.catalog-page-filters {
  background-image: url("../images/very-blurred-mountain-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.catalog-nav {

  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;

}
.breadcrumbs-list {
display: flex;
}

.filters-container {
  display: flex;
}

.founded {
  display: flex;

}

.catalog-filters-cost {
  width: 180px;
}

.catalog-filters-title {
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
}

.catalog-filters-item {
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;
}

.control,
.control-input {
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: right;
}

.control-cost {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  text-transform: lowercase;
  color: #000000;
}

.control-input-min {
border-radius: 4px 4px;
}

.control-input-max {
  border-radius: 4px 4px;
  }

.found-hotel-list {
    display: flex;
    flex-wrap:wrap;
    list-style: none;
  }

.search-result-title,
.search-result-number {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.select-control {
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: inherit
}

.found-hotel-link h3 {
font-size: 24px;
font-weight: 700;
line-height: 28px;
color: #000000;
text-decoration: none;
text-align: left;
text-transform: uppercase;
}

.found-hotel-link {
  text-decoration: none;
}

.found-hotel-type,
.found-hotel-price {
 font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.rating-in-numbers {
font-size: 16px;
line-height: 20px;
text-align: center;
}

.pagination-list {
  width: 400px;
  display:flex;
  margin: 0;
  padding:0;

  justify-content: space-between;
  list-style: none;

}

.pagination-link {
font-size: 20px;
font-weight: 700;
line-height: 36px;
color: #ffffff;
text-decoration: none;
background: #82B3D3;
}


.pagination-current {
color: #000000;
background-color: #f2f2f2;
}

.pagination-link-between {
font-size: 22px;
line-height: 26px;
text-align: center;
color: #000000;
}
