@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  box-shadow: 0 0 10px 0 #333333;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
}

.page-header-logo {
  margin-bottom: -6px;
}

.button {
  display: block;
  padding: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  background-color: #756157;
  cursor: pointer;
}

.button-header {
  padding: 8px 34px;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.filters-button-submit {
  padding: 8px 50px;
  margin-bottom: 32px;
  background-color: #82B3D3;
}

.filters-button-reset {
  padding: 8px 57px;
  background-color: transparent;
}

.button-more {
  width: 100%;
}

.button-favorite {
  width: 100%;
  background-color: #82B3D3;
}

.button-favorite-add {
  background-color: #7DB54F;
}

.button- .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 7px 0;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.reason-title-main {
  margin: 69px auto 25px auto;
}

.reason-title {
  max-width: 175px;
}

.reason-description-main {
  margin: 0 auto 90px auto;
}

.reason-title-dark {
  color: #F2F2F2;
  max-width: 175px;
}

.description {
  max-width: 230px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  text-align: center;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-user-item .navigation-user-link {
  min-height: 64px;
  min-width: 44px;
  background-color: #7DB54F;
  margin-right: 3px;
  ;
}

.likes-number {
  width: 20px;
  height: 20px;
  top: 11px;
  left: 20px;
  border-radius: 50%;
  background-color: #7db54f;
  padding: 5px 5px 5px 4px;
  margin-right: 20px;
}

.welcome-image {
  background-color: #B0C4DE;
  color: #000000;
  background-image: url("../images/white-frame-decoration.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.greeting-image {
  padding: 51px 371px 82px 371px;
}

.main-index {
  text-align: center;
  background-color: #ffffff;
  flex-grow: 1;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 64px;

}

.reason-item {
  display: flex;
  background-color: #82B3D3;
}

.reason-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 112px 85px;
  flex-grow: 1;
}

.reason-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reason-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}


.reason-item:first-child {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.reason-item:nth-child(5) {
  flex-direction: row-reverse;
  flex-grow: 1;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.services-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 81px 85px 20px;
  flex-grow: 1;
}

.services-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
  justify-content: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  background-image: url("../images/blurry-mountain-view.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;
  justify-content: center;
  align-items: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-catalog {
  text-align: center;
}

.subscribe-catalog h2 {
  color: #000000;
  text-align: center;
}

.subscribe-catalog p {
  color: inherit;
  text-align: center;
}

.subscribe-title {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  margin-bottom: 144px;
}

.input-email {
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;
  background-color: #F2F2F2
}

.page-footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  max-height: 40px;
  max-width: 48px;
}

.phone-number {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.catalog-page {
  background-color: #FFFFFF;
  flex-grow: 1;
}

.container-catalog {

  padding: 0 70px;
}

.catalog-page-filters {
  background-image: url("../images/very-blurred-mountain-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0;
  margin-bottom: 50px;
  padding: 35px 70px 70px;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.catalog-page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin: 0 0 8px 0;
}

.catalog-nav {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  margin-right: 10px;
}

.page-filters {
  display: flex;
}

.wrap-filters-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}

.founded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.catalog-filters-cost {
  max-width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 70px 0 0;
}

.container-filters-cost {
  max-width: 287px;
  display: flex;
}

.filter-from {
  position: relative;
  width: 50%;
}

.filter-till {
  position: relative;
  width: 50%;
}

.catalog-display-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-display-item-cards {
  width: 48px;
  height: 48px;
  display: block;
  background-color: #7DB54F;
  margin-right: 8px;
}

.catalog-display-list li:nth-child(3n+3) {
  margin-right: 0;
}

.catalog-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 32px;
}

.catalog-filters-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  list-style-type: none;
  margin-bottom: 16px;
}

.catalog-filters-item:last-child {
  margin-bottom: 0;
}

.catalog-filters-list {
  padding: 0;
  margin: 0;
}

.catalog-display-items-card {
  margin-right: 8px;
}

.catalog-filters-group {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 0;
  padding: 0;
  margin: 0 70px 0 0;
}

.catalog-filters-group:nth-child(2) {
  margin-right: 140px;
}

.control-input {
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  box-sizing: border-box;
  color: #000000;
}

.control-cost {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  text-transform: lowercase;
  color: #000000;
  position: absolute;
  right: 12px;
}

.control-input-min {
  border-radius: 4px 4px;
}

.control-input-max {
  border-radius: 4px 4px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 80px;
}

.hotel-item {
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-link-img {
  grid-column: auto / span 2;
}

.hotel-link-img img {
  display: block;
}

.hotel-info,
.hotel-links {
  grid-column: auto / span 2;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotel-quality {
  grid-column: auto / span 2;
  display: flex;
  justify-content: space-between;
}

.hotel-rating {
  margin: 0;
  padding: 8px 22px 9px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  align-self: center;
}

.search-result {
  padding: 0 70px;
}

.search-result-title,
.search-result-number {
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.search-result-title {
  flex-grow: 1;
}

.select-control {
  min-width: 292px;
  min-height: 49px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: inherit;
}

.hotel-card-title {
  text-align: left;
}

.hotel-link {
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: 3;
}

.hotel-price {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.pagination-list {
  min-width: 400px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 156px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  box-sizing: boarder-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background: #82B3D3;
  text-align: center;
  align-content: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-between {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
