@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  box-shadow: 0 0 10px 0 #333333;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
  width: 138px;
  height: 64px;
}

.page-header-logo {
  position: absolute;
}

.button {
  display: block;
  padding: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  background-color: #756157;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

button:focus {
  background-color: #615048;
}

button:active {
  background: #756157;
  color: #FFFFFF4D;
}

button:disabled {
  background: #E5E5E5;
}

.button-header {
  padding: 8px 34px;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.filters-button-submit {
  padding: 8px 50px;
  margin-bottom: 32px;
  background-color: #82B3D3;
}

.filters-button-reset {
  padding: 8px 57px;
  background-color: transparent;
}

.button-more {
  width: 100%;
}

.button-favorite {
  width: 100%;
  background-color: #82B3D3;
}

.button-favorite-add {
  background-color: #7DB54F;
}

.button- .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 7px 0;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.description {
  max-width: 230px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  text-align: center;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.navigation-link-current {
  position: relative;
  padding: 20px 0;
}

.navigation-link-current::before {
  content:'';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #756257;
}

.navigation-link:hover {
  color: rgba(117, 97, 87, 1);
}

.navigation-link:focus {
  color: rgba(117, 97, 87, 1);
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user-link {
  min-height: 64px;
  min-width: 44px;
  display: block;
  position: relative;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.search-link {
  mask-image: url("../images/search.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #000000;
}

.likes-link {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}

.likes-number {
  position: absolute;
  top: 12px;
  right: 4px;
  min-width: 12px;
  padding: 5px 4px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 100vw;
}

.welcome-image {
  background-color: #B0C4DE;
  color: #000000;
  background-image: url("../images/white-frame-decoration.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.greeting-image {
  padding: 51px 371px 82px 371px;
}

.main-index {
  text-align: center;
  background-color: #ffffff;
  flex-grow: 1;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 64px;
}

.reason-item {
  display: flex;
  background-color: #82B3D3;
}

.reason-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 102px 85px;
  flex-grow: 1;
}

.reason-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reason-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}


.reason-item:first-child {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.reason-item:nth-child(5) {
  flex-direction: row-reverse;
  flex-grow: 1;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.reason-item:first-child .reason-title,
.reason-item:nth-child(5) .reason-title {
  color: #FFFFFF;
}

.reason-title-main {
  margin: 69px auto 25px auto;
}

.reason-description-main {
  margin: 0 auto 90px auto;
}

.reason-title {
  position: relative;
  max-width: 175px;
  padding-bottom: 32px;
  margin-bottom: 30px;
}

.reason-title::before {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.reason-description {
  margin: 0;
}

.services-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 181px 85px 20px;
  flex-grow: 1;
  position: relative;
}

.house-item::before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  position: absolute;
  background-image: url("../images/house.svg");
  right: center;
  top: 81px;
}

.food-item::before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  position: absolute;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  right: center;
  top: 81px;
}

.souvenir-item:before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  position: absolute;
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-size: 64px 72px;
  right: center;
  top: 81px;
}

.services-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
  justify-content: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  background-image: url("../images/blurry-mountain-view.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;
  justify-content: center;
  align-items: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-catalog {
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-catalog h2 {
  color: #000000;
  text-align: center;
}

.subscribe-catalog p {
  color: inherit;
  text-align: center;
}

.subscribe-title {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.input-email {
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 14px 20px;
}

.page-footer {
  background-color: #FFFFFF;

}

.page-footer-container {
  display: flex;
  width: 100%;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  min-width: 47px;
  min-height: 40px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: rgba(131, 179, 211, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: rgba(104, 162, 202, 1);
}

.social-link:active {
  background: rgba(104, 162, 202, 0.3);
}

.social-link.link-vk {
  mask-image: url("../images/vk.svg");
}

.social-link.link-telegram {
  mask-image: url("../images/tg.svg");
}

.social-link.link-youtube {
  mask-image: url("../images/youtube.svg");
}

.phone-number {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.phone-number:hover,
.phone-number:focus {
  color: rgba(117, 97, 87, 1);
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.creator-link {
  display: block;
  min-width: 115px;
  min-height: 33px;
  mask-image: url("../images/html-academy.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: rgba(0, 0, 0, 1);
}

.creator-link:hover,
.creator-link:focus {
  background-color: rgba(117, 97, 87, 1);
}

.creator-link:active {
  background-color: rgba(117, 97, 87, 0.3);
}

.catalog-page {
  background-color: #FFFFFF;
  flex-grow: 1;
}

.container-catalog {
  padding: 0 70px;
}

.catalog-page-filters {
  background-image: url("../images/very-blurred-mountain-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0;
  margin-bottom: 50px;
  padding: 35px 70px 70px;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.catalog-page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin: 0 0 8px 0;
}


.breadcrumbs-list {
  min-width: 114px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 28px;
  position: relative;
}

.breadcrumbs-item:not(:first-child)::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  mask-image: url("../images/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background: #FFFFFF;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  display: block;

}

.breadcrumbs-link:hover {
  color: #FFFFFF99;
}

.breadcrumbs-link:focus,
.breadcrumbs-link:visited {
  color: #FFFFFF;
}

.breadcrumbs-link:active {
  color: #FFFFFF4D;
}

.link-home {
  display: block;
  width: 21px;
  height: 21px;
  mask-image: url("../images/home.svg");
  mask-repeat: no-repeat;
  mask-position: left;
  background-color: #FFFFFF;
}

.page-filters {
  display: flex;
}

.wrap-filters-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}

.founded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  margin-bottom: 40px;
}

.catalog-filters-cost {
  max-width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 70px 0 0;
  border: none;
}

.container-filters-cost {
  max-width: 287px;
  display: flex;
  gap: 2px;
}

.filter-from {
  position: relative;
  width: 50%;
}

.filter-till {
  position: relative;
  width: 50%;
}

.catalog-display-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-display-item-cards:not(:last-child) {
  margin-right: 8px;
}

.view-icon {
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 4px;
  border: 2px solid #E5E5E5;

}

.view-icon.active,
.view-icon:hover {
  border: 2px solid #000000;
}

.view-icon:focus {
  border: 2px solid #68A2CA;
}

.view-as-cards {
  background-image: url("../images/cards.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.view-as-slideshow {
  background-image: url("../images/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-as-list {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 32px;
}

.catalog-filters-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  list-style-type: none;
  margin-bottom: 16px;
}

.catalog-filters-item:last-child {
  margin-bottom: 0;
}

.catalog-filters-list {
  padding: 0;
  margin: 0;
}

.catalog-display-items-card {
  margin-right: 8px;
}

.catalog-filters-group {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border: 0;
  padding: 0;
  margin: 0 70px 0 0;
}

.catalog-filters-group:nth-child(2) {
  margin-right: 140px;
}

.control-input {
  max-width: 100%;
  padding: 12px 0 12px 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  box-sizing: border-box;
  color: #000000;
  border: none;
}

.control-input::placeholder {
  color: #000000;
}

.control-cost {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  text-transform: lowercase;
  color: #000000;
  position: absolute;
  right: 20px;
  top: 12px;
}

.control-input-min {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.control-input-max {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 80px;
}

.hotel-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  padding: 20px;
  box-shadow: 0 0 0 1px #E6E6E6;
  border-radius: 4px;
}

.hotel-link-img {
  grid-column: auto / span 2;
}

.hotel-link-img img {
  display: block;
}

.hotel-info,
.hotel-links {
  grid-column: auto / span 2;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotel-quality {
  grid-column: auto / span 2;
  display: flex;
  justify-content: space-between;
}

.hotel-stars {
  display:flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  margin:0;
}

.star {
  width: 18px;
  height: 17px;
  background-image: url("../images/star.svg");
}

.hotel-rating {
  margin: 0;
  padding: 8px 22px 9px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  align-self: center;
}

.search-result {
  padding: 0 70px;
  margin-bottom: 60px;
  ;
}

.search-result-title,
.search-result-number {
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.search-result-title {
  flex-grow: 1;
}

.select-control {
  min-width: 292px;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: inherit;
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  position: relative;
  /*webkit browsers */
  -webkit-appearance: none;
  /*Firefox */
  -moz-appearance: none;
  /* modern browsers */
  appearance: none;
}

.select-control::before {
  content: '';
  display: block;
  width: 12px;
  height: 7px;
  background-color: tomato;
  position: absolute;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:disabled {
  color: #0000004D;
  border: 2px solid #0000004D;
}


.hotel-card-title {
  text-align: left;
}

.hotel-link {
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: 3;
}

.hotel-price {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.pagination-list {
  min-width: 400px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  min-width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #82B3D3;
  text-align: center;
  align-content: center;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
}

.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
}

.pagination-link:active {
  background: rgba(130, 179, 211, 1);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.pagination-current:hover {
  background-color: #f2f2f2;
  border: none;
}

.pagination-link-between {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: inherit;
  box-sizing: border-box;
  color: #000000;
}

.pagination-link-between:hover {
  background-color: inherit;
  border: none;
}
